# Cadena de conexión a MySQL
# Formato: mysql://USUARIO:PASSWORD@HOST:PUERTO/NOMBRE_BD
DATABASE_URL="mysql://u199394756_tiendatenis:Tiendatenis1@193.203.166.236:3306/u199394756_tiendatenis"

# NextAuth
NEXTAUTH_SECRET="asdasdasww23234234"
NEXTAUTH_URL="http://localhost:3000"

# Credenciales del admin que crea el script de seed
ADMIN_EMAIL="admin@tienda.com"
ADMIN_PASSWORD="admin1234"
ADMIN_NAME="Administrador"
CLOUDINARY_CLOUD_NAME="dwkoyruf2"
CLOUDINARY_API_KEY="515117462989372"
CLOUDINARY_API_SECRET="wkeu29-dvryxM5nCoD8HS43IkdM"
# WhatsApp Cloud API (oficial, Meta) Phone Number ID: 1293453543849968 WhatsApp Business Account ID: 105531007183490
WHATSAPP_TOKEN="EAAOEKGpSAEQBSKDlPdux7NXlaph4dJDk3TeZCHbguXn7ZAp9EJgz5tqOVteJShcGBeZAX0PgUBitbzcOJjNSvSBUyhG1pMFIb7d56FUcnKDZAi6xtNJoRz4BISForCcZARHPnmvs03kmulZBRbnDU9qSQYbnZCLJFmBm074OFYeKz0uD5Rs7gMZADhUN7r7mrJK7WwZDZD"
WHATSAPP_PHONE_NUMBER_ID="1237602089434850"
WHATSAPP_VERIFY_TOKEN="vandal2026verify"
WHATSAPP_ALLOWED_NUMBERS="573192934969,573246405015"
APP_URL="https://vandal-col.vercel.app/"
CATEGORIA_SLUG_DEFECTO="otro"
TALLAS_DEFECTO="36,37,38,39,40,41"
STOCK_DEFECTO="5"